<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.threepointo.studentmanagementsystem">

    <application
        android:allowBackup="true"
        android:icon="@drawable/round"
        android:label="@string/app_name"
        android:roundIcon="@drawable/round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Delete"
            android:windowSoftInputMode="adjustResize"></activity>
        <activity android:name=".View_all"></activity>
        <activity android:name=".Add_student"
            android:windowSoftInputMode="adjustResize"/>
        <activity android:name=".hp_admin" />
        <activity android:name=".Details" />
        <activity android:name=".MainActivity"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>